@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('https://athlonsports.com/sites/athlonsports.com/files/styles/article_top_img/public/Minnesota_Golden_Gophers_entrance_2018_gopher_football_0.jpg?itok=Tm1SEZn6')
}

.split.right {
    left: 0;
    background: url('https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2020/12/931/524/AP20365777310370.jpg?ve=1&tl=1')
}